<div (click)="onCloseClick()" class="ui dimmer visible active">
<div (click)="$event.stopPropagation" class="ui modal visible active">
<i (click)="onCloseClick()" class="close icon">X1</i>
<div class="header">Modal111</div>

<div class="content">
  <p>
    Some content 2
  </p>
</div>

<div class="actions">
  <button (click)="onCloseClick()" class="ui button">OK1</button>
</div>

<div class="actions">
  <button (click)="onCloseClick1()" class="ui button">OK2</button>
</div>

</div>
</div>

<!-- 
<div (click)="onCloseClick()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
      <i (click)="onCloseClick()" class="close icon"></i>
      <div class="header">
        MODAL!
      </div>
      <div class="content">
        <p>
          Some content for the modal window should go right here!
        </p>
      </div>
      <div class="actions">
        <button (click)="onCloseClick()" class="ui button">OK</button>
      </div>
    </div>
  </div>
-->


